<!DOCTYPE html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<html>
    <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!- meta name="author" content="Lucas C" -->

	{% if page.title %}
	    <title>{{page.title}} | limitless channels</title>
	{% else %}
	    <title>limitless channels</title>
	{% endif %}

	{% if page.description %}
	<meta name="description" content="{{page.description}}" />
	{% else %}
	<meta name="description" content="{{site.title}} {{page.title}}" />
	{% endif %}

	{% if page.keywords %}
	<meta name="keywords" content="{{ page.keywords }}" />
	{% endif %}

	<link rel="stylesheet" type="text/css" href="/css/blog.css" title="Basic Reader CSS template" media="screen,projection" />

</head>

<body>
<div id="wrap">
	<div id="sidebar">
		<h1 class="ghostlinks"><a href="http://limitlesschannels.com" title="Limitless Channels">limitless channels</a></h1>
		<p class="slogan">language notes, tech, dataflow, and the endless infodump</p>
		
		<hr />
		<ul>
			<li><a href="/projects.html">projects</a></li>
			<li><a href="/popular.html">popular</a></li>
			<li><a href="/archive.html">archive</a></li>
			<li class="ghostlinks"><a href="#">links</a></li>
				<ul>
					<li><a href="/me.html">me</a></li>
					<li><a href="/others.html">others</a></li>
				</ul>
			</li>
		</ul>
		
	<p class="credits"><a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank"><img src="http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png" alt="Creative Commons" /></a></p>
</div>

<h2>{{page.title}}</h2>

{{ content }}

</div>
</body>
</html>
