<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<!- meta name="author" content="Lucas Charles" -->

	{% if page.title %}
	<title>{{page.title}} | limitless channels</title>
	{% else %}
	<title>limitless channels</title>
	{% endif %}

	{% if page.description %}
	<meta name="description" content="{{page.description}}" />
	{% else %}
	<meta name="description" content="{{site.title}} {{page.title}}" />
	{% endif %}

	{% if page.keywords %}
	<meta name="keywords" content="{{ page.keywords }}" />
	{% endif %}

	<link rel="stylesheet" type="text/css" href="/css/blog.css" title="Basic Reader CSS template" media="screen,projection" />

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29308675-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>

<body>
<div id="wrap">
	<div id="sidebar">
		<h1><a href="http://limitlesschannels.com" title="Limitless Channels">limitless channels</a></h1>
		<p class="slogan">language notes, tech, dataflow, and the endless infodump</p>
		
		<hr />
		<ul>
			<li><a href="http://limitlesschannels.com">stream</a></li>
			<li><a href="/projects.html">projects</a></li>
			<li><a href="/popular.html">popular</a></li>
			<li><a href="/archive.html">archive</a></li>
			<li><a href="#">links</a>
				<ul>
					<li><a href="/me.html">me</a></li>
					<li><a href="/others.html">others</a></li>
				</ul>
			</li>
		</ul>
		
	<p class="credits">licensed under <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank">Creative Commons</a></p>
</div>

<h2>{{page.title}}</h2>

{{ content }}

</div>
</body>
</html>
